*{
    margin: 0;
    padding: 0;
}

#header-image{

    margin-left: 50px;
    margin-top: 10px;
}

#header-image>img{
    width: 150px;
    height: 150px;
}

#logo-site{
    width: 150px;
    height: 150px;
}

#burger-icon{
    display: none;
}


header{
    display: flex;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

a{
    color: black;
}

a:link{
    text-decoration: none;
}

nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

header ul{
    display: flex;
    align-items: center;
}

header ul:last-child{
    margin-right: 140px;
}

header ul li {
    display: inline-block;
    margin-left: 54px;
}

header ul li a{
    transition: 0.25s;
}

header ul li a:hover{
    color: #D57A83;
    transition: 0.25s;
}

@media screen and (max-width: 1025px) {
   nav{
       justify-content: center;

   } 

    header{
        flex-direction: column;
    }

    #header-image{
        margin: auto;
        text-align: center;
    }

    header ul:last-child{
        margin-right: 0px;
    }

    nav>ul{
        flex-direction: column;
    }

   header>nav>ul{
       margin-top: 50px;
   }

   nav>ul>li{
       margin-left: 0;
   }

   #header-image>img{
    display: block;
    width: 100px;
    height: 100px;
    }  

    #logo-site{
        display: none;
    }  
   
}