* {
    margin: 0;
    padding: 0;
}

#img_firstBlock {
    height: 1200px;
    background-image: url("../../images/home_divider1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    margin-bottom: -1px;
}

.firstBlock h2 {
    width: 804px;
    height: 218px;
    font-family: 'Amatic SC', cursive;
    font-size: 96px;
    font-weight: bold;
    color: #0f1426;
    line-height: 1;
    margin-left: 141px;
    padding-top: 200px;
}

.firstBlock p {
    width: 795px;
    height: 81px;
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 500;
    color: #0f1426;
    margin-left: 141px;
}

.firstBlock #EnSavoirPlus-button3 {
    justify-content: flex-end;
    display: flex;
    width: 795px;
    margin-left: 110px;
    margin-top: 20px;
}

#EnSavoirPlus-button3>button {
    font-size: 17.5px;
    margin-top: 28px;
    font-family: 'Barlow';
    font-weight: bold;
    padding: 14px 40px;
    color: white;
    background-image: linear-gradient(253deg, #d57a83, #ebd99f);
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
}

.btw1_2 {
    width: 100%;
    height: 240px;
    background-color: #0f1426;
    text-align: center;
}

.btw1_2 p {
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    color: #ffffff;
    padding: 180px;
}

#img_secondBlock {

    background-image: url("../../images/divider_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    overflow-y: hidden;
}

#nos_projets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 65.6px;
    margin-left: 5%;
    margin-right: 5%;

}

#carte-projet {
    width: 500px;
    background-color: #ebd99f;
    border-radius: 20px;
    margin-top: 50px;
}

#image-projet {
    text-align: center;
    border-radius: 20px;
}

#image-projet>img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 20px;
    border-radius: 20px;
}

.project-name {
    width: 347px;
    height: 43px;
    font-family: "Barlow";
    font-size: 32px;
    font-weight: bold;
    color: #0f1426;
    padding-left: 50px;

}

.category {
    font-family: "Barlow";
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;
    text-align: left;
    color: #0f1426;
    padding-left: 50px;
}

#decouvrir {
    margin-right: 50px;
    text-align: right;
    padding-bottom: 21.6px;
}

#decouvrir a {
    height: 27px;
    font-family: "Barlow";
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;
    color: #66ada6;
}

#titre_thirdBlock {
    width: 100%;
    text-align: center;
    margin-top: 154.4px;
}

#titre_thirdBlock p {
    height: 61px;
    font-family: 'Amatic SC', cursive;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    color: #0f1426;
}

#Nos_services {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}

.Creation {
    text-align: center;
}

.Creation p {
    width: 526px;
    height: 43px;
    margin: 60px 30px 55px;
    font-family: "Barlow";
    font-size: 32px;
    font-weight: bold;
    line-height: 1.34;
    color: #0f1426;
}

#EnSavoirPlus-button {
    text-align: right;
}

#EnSavoirPlus-button>a {
    font-size: 17.5px;
    margin-top: 55px;
    font-family: 'Barlow';
    font-weight: bold;
    padding: 14px 40px;
    color: white;
    background-image: linear-gradient(253deg, #d57a83, #ebd99f);
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
}

#placement_btn {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 131px;
}

#Titre_Np {
    width: 100%;
    height: 61px;
    margin: 0 0 145px;
    font-family: 'Amatic SC';
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    color: #0f1426;
}

#Partenaire-container {
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

#partenaire-image>img {
    max-width: 800px;
    height: 533px;
    border-radius: 20px;
}

#EnSavoirPlus-button2 {
    text-align: left;
}

#EnSavoirPlus-button2>button {
    font-size: 17.5px;
    margin-top: 28px;
    font-family: 'Barlow';
    font-weight: bold;
    padding: 14px 40px;
    color: white;
    background-image: linear-gradient(253deg, #d57a83, #ebd99f);
    border: none;
    border-radius: 50px;
    text-transform: uppercase;
}

#Partenaire-content {
    font-family: 'Barlow';
    color: #0f1426;
    max-width: 665px;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 169px;
}

#Partenaire-content>h2 {
    font-size: 32px;
    line-height: 1.34;
    font-weight: bold;
}

#Partenaire-content>p {
    font-size: 16px;
    line-height: 1.4;
    text-align: left;
    margin: 15px 0 28px 0px;
}

.fourth_block {
    padding-top: 100px;
    background-image: url(../../images/Group_109.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    height: 832px;
}

#photo_partenaires {
    width: 100%;
    height: 155px;
    background-color: #0f1426;
    display: flex;
    justify-content: space-around;
}

#image-partenaires {
    max-width: 126px;
    max-height: 126px;
}

#fifth-block{
    margin-left: -1px;
    background-image: url(../../images/divider_2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
}

#fifth-block>h2{
    text-align: center;
    padding-top: 500px;
    font-family: 'Amatic SC';
    font-size: 50px;
}

#bouton-nouvelles{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;


}

#bouton-nouvelles>a{
    padding: 14px 40px;
    background-image: linear-gradient(253deg, #d57a83, #ebd99f);
    font-size: 20px;
    color: white;
    font-family: 'Barlow';
    font-weight: bold;
    border-radius: 50px;
    text-transform: uppercase;

}

@media screen and (max-width: 1025px) {
     .firstBlock h2,.firstBlock p, .btw1_2,.firstBlock #EnSavoirPlus-button3, .Creation p{
        width: auto;
        height: auto;
    }

    #img_firstBlock{
        background-size: 100%;
    }

    #Nos_services, #Partenaire-container{
        flex-direction: column;
    }

    .fourth_block{
        background-size: 100%;
        margin-bottom: -1px;
    }

    #partenaire-image>img{
        max-width: 300px;
        height: auto;
    }

    #img_firstBlock>h2{
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        font-size: 75px;
        margin-bottom: 100px;
    }

    #img_firstBlock>p{
        margin-left: 0;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .firstBlock #EnSavoirPlus-button3{
        display: block;
        text-align: center;
        margin-left: 0;
    }

    .btw1_2 p{
        padding: 0;
        padding-top: 100px;
    }

    #image-projet>img{
        width: 300px;
        height: auto
    }

    .project-name{
        width: auto;
    }

    #img_secondBlock{
        background-size: 100%;
        height: 500px;
    }

    .Creation>img{
        max-width: 100px;
    }

    .Creation>p{
        font-size: 20px;
        margin: 50px 0px;
    }

    #partenaire-image{
        text-align: center;
    }

    #Partenaire-content{
        padding-left: 0;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 30px;
    }

    #Partenaire-content>h2{
        font-size: 20px;
    }

    #EnSavoirPlus-button2{
        text-align: center;
    }

    .fourth_block{
        background-image: url(../../images/Exclusion\ 9@2x.png);
    }

    #fifth-block{
        margin-top: -2px;
        background-size: 100%;
    }

    #fifth-block>h2{
        padding-top: 250px;
    }



}